<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/random/?swimmingpool');">
  <div class="banner-content">
    <h1>GetWet Pools</h1>
    <p>Awesome local pools for hot summer days</p>
  </div>
</div>

<div class="content">
  <div class="cards-container">
    <div class="row">
      <% @pools.each do |pool| %>
      <div class="col-xs-12 col-sm-4">
        <% if pool.photo.blank? %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/random/?swimmingpool');">
          <% else %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path pool.photo, height: 300, width: 400, crop: :fill %>')">
            <% end %>
            <div class="card-category lat-lng" data-lat="<%= pool.latitude %>" data-lng="<%= pool.longitude %>"><%= pool.address.split.last %></div>
            <div class="card-description">
              <h2><%= pool.title %></h2>
              <p><%= pool.price %>€ per day · Free cancellation</p>
            </div>
            <% if current_user.photo.blank? %>
            <img id="card-avatar" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <% else %>
            <%= cl_image_tag current_user.photo, class: "card-user" %>
            <% end %>
            <%= link_to "", pool_path(pool), class: 'card-link' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div id="map_all"></div>
  </div>
