<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p><%= @pool.category %></p>
      <h1><%= @pool.title %></h1>
    </div>
    <div class="overview">
      <p>Capacity: <%= @pool.capacity %></p>
      <p>L: <%= @pool.length %> x W: <%= @pool.width %> x D: <%= @pool.depth %></p>
      <%= link_to "Back to all pools", pools_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Description</h3>
      <p><%= @pool.description %></p>
      <h2><%= @pool.address %></h2>
      <h3><%= @pool.price %></h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Capacity</th>
            <th>Category</th>
            <th>L x W x D</th>
          </thead>
          <tr>
            <td><%= @pool.capacity %></td>
            <td><%= @pool.category %></td>
            <td><%= @pool.length %> x <%= @pool.width %> x <%= @pool.width %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
  <%= simple_form_for [@pool, @booking] do |f| %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :end_date, as: :date %>
  <%= f.input :guest, collection: (1..@pool.capacity) %>
  <%= f.submit "book it now", class: "btn btn-primary" %>
  <% end %>
  </div>
  <div class='col-md-5'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker6'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class='col-md-5'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker7'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker({
            useCurrent: false //Important! See issue #1075
          });
    $("#datetimepicker1").on("dp.change", function (e) {
      $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker1").on("dp.change", function (e) {
      $('#datetimepicker2').data("DateTimePicker").maxDate(e.date);
    });
  });
</script>

</div>

      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "See all restaurants", restaurants_path %>
    </div>
  </div>


