<% url = @pool.photo.blank? ? (image_path 'pool_party.jpg') : (cl_image_path @pool.photo, height: 300, width: 400, crop: :fill) %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= url %>');">
</div>
<div class="container">
  <div class="content">
    <div class="cards-container">
      <div class="row">
          <div class="col-xs-12 col-md-8 col-lg-8">
            <p><%= @pool.category %></p>
            <h1 id="pool"><%= @pool.title %></h1>
            <p>
              <i class="fas fa-users"></i> <%= @pool.capacity    %>   <i class="fas fa-swimming-pool"></i> <%= @pool.length %>m x <%= @pool.width %>m x <%= @pool.depth %>m       <i class="fas fa-volume-up"></i> <i class="fas fa-cannabis"></i>  <i class="fas fa-wifi"></i>
            </p>
            <%= link_to "Back to all pools", pools_path %>
            <h3>Description</h3>
            <p><%= @pool.description %></p>
            <h3>Address</h3>
            <p><%= @pool.address %></p>
            <h3>Equipment</h3>
            <ul class="list-inline" id="iconlist">
                <p><i class="fas fa-users"></i><%= @pool.capacity %></p>
                <p><i class="fas fa-compass"></i> <%= @pool.category %></p>
                <p><i class="fas fa-swimming-pool"></i> <%= @pool.length %> x <%= @pool.width %> x <%= @pool.width %></p>
                <p><i class="fab fa-cc-paypal"></i> <%= "Paypal" %></p>
                <p><i class="fas fa-wifi"></i> <%= "WIFI" %></p>
                <p><i class="fas fa-cannabis"></i> <%= "Cannabis" %></p>
            </ul>
          </div>
      </div>
    </div>
    <div id="login">
      <div id="heading">
        <h3><%= @pool.price %>€ <span class="per-day">per Day</span></h3>
      </div>
      <div id="fillform"></div>
      <%= simple_form_for [@pool, @booking], method: :post do |t| %>
        <div class="col-xs-12 col-sm-5" style="padding-right: 0px; border-right: 0px solid #f4f4f4;">
        <%= t.input :start_date, placeholder: "CHECK-IN", as: :string, input_html: { id: "start_date" } %>
        </div>
        <div class="col-xs-12 col-sm-7" style="padding-left: 0px; background-color: #f4f4f4;">
        <%= t.input :end_date, placeholder: "→             CHECK-OUT", as: :string, input_html: { id: "end_date" } %>
        </div>
        <div class="col-xs-12 col-sm-12">
        <%= t.input :guest, placeholder: "GUEST", collection: (1..@pool.capacity), class: "collection_form", prompt: "SELECT NUMBER OF GUESTS" %>
        </div>
        <div class="col-xs-12 col-sm-12">
        <%=  t.submit "Book it now", class: "btn btn-primary", id: "btt" %>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-12">
        <div class="more_info">
          <h1></h1>
        </div>
        <div class="card" id="map_pool">
          <p>map</p>
        </div>
      </div>
    </div>
  </div>
</div>



