<div class="container text-center">
  <div class="grid">
    <div class="card-user">
      <div class="user-description">
        <%= image_tag "samson.jpg", class: 'avatar' %>
        <div class="user-header">
          <h4>Wolfgang Petry</h4>
          <p>Favourite jump <br> Cannonball</p>
        </div>
        <div class="user-status">
          <p><i class="fas fa-power-off"></i></p>
        </div>
        <div class="user-button">
          <%= link_to "Get in touch", pools_path, class: 'btn btn-success' %>
        </div>
      </div>
    </div>
    <div class="card-reviews">
      <h4>My latest review</h4>
      <% review = current_user.reviews.last %>
      <div id="review">
        <small>
          <% count = 0 %>
          <% 5.times do %>
          <% if review.rating > count %>
          <i class="fas fa-star full"></i>
          <% else %>
          <i class="far fa-star"></i>
          <% end %>
          <% count += 1 %>
        </small>
        <% end %>
        <p class="review-description"> <span class="review-title"> <%= link_to review.pool.title, pool_path(review.pool), class: '' %> </span> <span> <%= review.created_at %> </span></p>
        <p> Description: <%=  review.description %> </p>
        <p>  </p>
        <p> Pool owner: <%= review.pool.user.email.split(".").first.capitalize %> </p>
      </div>

    </div>
    <div class="card-latest-booking">
      <h4>my current booking</h4>
      <% booking = current_user.bookings.last %>
      <p>Pool: <%=  link_to booking.pool.title, pool_path(booking.pool) %></p>
      <p>Average rating: </p>
      <p>Guests: <%= booking.guest %></p>
      <p>from <%=  booking.start_date %> <%= booking.end_date %></p>
    </div>
    <div class="card-parties" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/D3A50t283ck/1600x900');">
      <div class="party-description">
        <h5>Next party</h5>
        <p>Karottes Kitchen</p>
        <%= link_to 'Join now' %>
      </div>
    </div>
    <div class="card-friends">
      <div class="friends">
        <h4>Friends you recently partied with</h4>
        <%= image_tag "kermit.jpg", class: 'avatar' %>
        <%= image_tag "kruemel.jpg", class: 'avatar' %>
        <%= image_tag "chew.png", class: 'avatar' %>
        <%= image_tag "dark.png", class: 'avatar' %>
      </div>
    </div>
  </div>
