<div class="grey-wrapper">
  <div class="container text-center" id="sign-in">
    <div class="row">
      <div class="xs-col-6 xs-col-offset-3">
        <h2>Log in</h2>
      </div>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", :class => "" %>
        </div>
      </div>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
